<div class="form-inline" id="{ELEMENT_ID}">
    <table class="markerdatawizard table table-condensed table-striped">
        <thead>
        <tr>
            <th>{KEY_TEXT}</th>
            <th>{VALUE_TEXT}</th>
            <th>{POINTS_TEXT}</th>
        </tr>
        </thead>
        <tbody>
        <!-- BEGIN row -->
        <tr class="{ROW_CLASS}">
            <td>
                <input class="form-control" type="text" size="{KEY_SIZE}" id="{KEY_ID}" maxlength="{KEY_MAXLENGTH}"
                       name="{POST_VAR}[key][{ROW_NUMBER}]" data-id="name" data-offset="{ROW_NUMBER}" <!-- BEGIN prop_key_propval -->value="{PROPERTY_VALUE}"
                <!-- END prop_key_propval -->{DISABLED_KEY}/>
            </td>
            <td>
                <input class="form-control number" type="text" size="{VALUE_SIZE}" id="{VALUE_ID}"
                       maxlength="{VALUE_MAXLENGTH}" name="{POST_VAR}[value][{ROW_NUMBER}]" data-id="points_answer" data-offset="{ROW_NUMBER}"
                <!-- BEGIN prop_value_propval -->value="{PROPERTY_VALUE}" <!-- END prop_value_propval -->
                {DISABLED_VALUE}/>
            </td>
            <td>
                <input class="form-control number" type="text" size="{VALUE_SIZE}" id="{POST_VAR}[points_position][{ROW_NUMBER}]"
                       name="{POST_VAR}[points_position][{ROW_NUMBER}]" data-id="points_position" data-offset="{ROW_NUMBER}" <!-- BEGIN prop_points_propval -->
                value="{PROPERTY_VALUE}" <!-- END prop_points_propval -->{DISABLED_POINTS}/>
                <input class="form-control" type="hidden" id="{POST_VAR}[coordinates][{ROW_NUMBER}]"
                       name="{POST_VAR}[coordinates][{ROW_NUMBER}]" <!-- BEGIN prop_positions_propval -->
                value="{PROPERTY_VALUE}" <!-- END prop_positions_propval -->/>
                <input class="form-control" type="hidden" id="{POST_VAR}[oldcoordinates][{ROW_NUMBER}]"
                       name="{POST_VAR}[oldcoordinates][{ROW_NUMBER}]" />
            </td>
        </tr>
        <!-- END row -->
        </tbody>
    </table>
</div>